#course-title {
	display:inline;
}

.short-info {
	margin-top: 20px;
}

.course-info-field {
	margin-top: 30px;
}

.course-info {
	padding-top: 13px;
}

.course-info ul {
	list-style-type: none;
}

.course-info ul > ul {
	list-style-type: circle;
}


.course-preview {
	margin-top: 30;
}