/* Responsive Wrapper */
#wrapper {
	@media screen and (min-width: 1024px) { width: 960px; }
	@media screen and (max-width: 1024px) { width: 93.75%; }
	@media screen and (max-width: 820px) { width: 100%; }
}

#header {
	margin-top: 2%;
	background: #fff url('../img/skyline.png') no-repeat bottom right;
	.logo { 
		float: left; 
		margin: 0 15px 0 0;
	}
	h1 { 
	font-size: 24px;
	line-height: 32px;
	}

	@media screen and (max-width: 820px) { 
		.volltext { display: none; }
	}
	@media screen and (min-width: 321px) {
		.unikoeln { display: block; }
	}
	@media screen and (max-width: 320px) {
		.unikoeln { display: inline; }
		.unikoeln:after { content: " - "; }
	}
}

#main {
	margin-top: 2%;
}

#sidebar {
	ul {
		margin-bottom: 5px; padding: 14px 19px 14px 19px;
	}

	@media screen and (min-width: 769px) {
		#menu { display: none; }
	}
	@media screen and (max-width: 768px) {
		ul { display: none; }
		#menu {
			margin-bottom: 5px;
			padding: 10px 19px 10px 19px;
			font-weight: bold;
		}
	}
}

#footer {
	margin-top: 5%;
	h4 {
		text-align: center;
	}
}

/* allgemeine Anpassungen */

h2 { font-size: 24px; }

.breadcrumb {
	color: #999;
	@media screen and (max-width: 768px) {
		display: none;
	}
}