/*
	Stylesheet für die Location-Seiten
*/
#map_canvas {
  width: 100%;
  height: 300px;
}

#map_buttons {
  margin: 5px 0 0 0;
  display: none;
}

.list_desc {
  margin: 0 0 45px 0;
}

.dataTables_filter {
  float: right;
  text-align: right;
  margin: -40px 0 0 40px;
}
.dataTables_filter label {
  font-weight: bold;
}

#gebaeudeliste thead {
  font-weight: bold;
}
#gebaeudeliste .sorting_asc {
  background: url("../img/datatables/sort_asc.png") no-repeat center right;
}
#gebaeudeliste .sorting_desc {
  background: url("../img/datatables/sort_desc.png") no-repeat center right;
}
#gebaeudeliste .sorting {
  background: url("../img/datatables/sort_both.png") no-repeat center right;
}
#gebaeudeliste .sorting_asc_disabled {
  background: url("../img/datatables/sort_asc_disabled.png") no-repeat center right;
}
#gebaeudeliste .sorting_desc_disabled {
  background: url("../img/datatables/sort_desc_disabled.png") no-repeat center right;
}
#gebaeudeliste table.display thead th:active,
#gebaeudeliste table.display thead td:active {
  outline: none;
}

@media screen and (max-width: 600px) {
  .zuordnung {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .adresse {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  #einzelansicht {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  #einzelansicht {
    width: 100%;
  }
}
#einzelansicht .title {
  font-weight: bold;
  width: 110px;
}

@media screen and (min-width: 601px) {
  #show_photo {
    float: right;
  }
}
@media screen and (max-width: 600px) {
  #show_photo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
#show_photo img {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background: #f4f4f4 none repeat scroll 0 0;
  padding: 6px 6px 6px 6px;
}
