/*-------------------------------------------------------------------------------
	"normal" desktop screen view
--------------------------------------------------------------------------------*/
#kursliste thead {
font-weight: bold;
font-size: 90%;
}
#kursliste tbody {
font-size: 85%; 
}
#guide_index {
position: relative;
bottom: 10px;
}
#accordion2 {
position: relative;
bottom: 10px;
margin-bottom: 5px;
}
#selectBox1 {
position: relative; 
bottom: 0px;
}
#selectBox2 {
position:relative; 
bottom: 85px;
left: 230px;
}
#search {
position: relative;
left: 460px;
bottom: 125px;
}

/*-------------------------------------------------------------------------------
	media screen -> 600px view
--------------------------------------------------------------------------------*/

@media (max-width: 600px) {
	#kursliste thead {
	font-size: 85%;
	}
	#kursliste tbody {
	font-size: 80%;
	}
	.art {
	display:none;
	}
	.accordion-heading {
	font-size: 90%;
	}
	#search {
	position: relative;
	bottom: 80px;
	left: 0px;
	}
}

/*-------------------------------------------------------------------------------
	media screen -> 550px view
--------------------------------------------------------------------------------*/

@media (max-width:550px) {
	.tab-content {
	float:none;
	clear: both;
	}
	.tab-pane {
	font-size: 100%;
	}
	.content-tabs{
	margin-bottom: 5px;
	}
	#guide_index {
	width: 100%;
	}
	#guide_index ul li {
	margin-bottom: -5px;
	font-size: 100%;
	}
	#selectBox2 {
	float: none;
	position: relative; 
	bottom: 30px;
	left: 0px;
	}
	#search {
	position: relative;
	bottom: 30px;
	left: 0px;
	}
}
/*-------------------------------------------------------------------------------
	media screen -> 450px view
--------------------------------------------------------------------------------*/

@media (max-width:450px) {
	.modul {
	display:none;
	}
	.tab-pane {
	font-size: 95%;
	}
	.content-tabs{
	margin-bottom: 0px;
	}
	#guide_index ul li {
	margin-bottom: -10px;
	font-size: 95%;
	}
}
/*-------------------------------------------------------------------------------
	media screen -> 400px view
--------------------------------------------------------------------------------*/
@media (max-width:400px) {
	#kursliste tbody {
	font-size: 75%;
	}
	#kursliste thead {
	font-size: 80%;
	}
}

