/*
	Main-Stylesheet
*/

@import url("bootstrap.min.css");
@import url("custom.css");
@import url("location.css");
@import url("study_guide.css");
@import url("course.css");
@import url("news.css");
@import url("user.css");
@import url("module.css");